$screen-xs-max: 320px;
$screen-sm-max: 680px;
$screen-md-max: 768px;
$screen-lg-max: 1024px;
$screen-xl-max: 1280px;
$screen-xxl-max: 1919px;

@mixin xs {
  @media (max-width: #{screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: #{$screen-xxl-max}) {
    @content;
  }
}
