@import "mixins";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  max-width: 1920px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  // max-width: 1920px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Desktop */
// @include xxl {
.athlets-image-container {
  position: absolute;
  height: 950px;
  width: 678px;
  top: 35px;
  left: 175px;
  z-index: 2;
  @include xxl {
    left: 9%;
  }

  @media (max-width: 1480px) {
    left: 0;
  }

  @include xl {
    left: 0;
    height: 699px;
    width: 518px;
    top: 120px;
  }

  @include lg {
    left: -161px;
    height: 699px;
    width: 518px;
    top: 120px;
  }

  @include sm {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 480px) {
    height: 281px;
    width: 200px;
    top: 70px;
  }

  @media (max-width: 320px) {
    left: 70px;
    margin-left: 0;
    margin-right: 0;
  }
}
.content-wrapper {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 1480px) {
    padding-right: 30px;
  }

  @include md {
    justify-content: normal;
    padding-left: 291px;
  }

  @include sm {
    padding-left: 30px;
    height: 682px;
  }

  @media (max-width: 480px) {
    height: 296px;
    padding: 0 18px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;

  @include md {
    width: 100%;
  }

  /* margin-top: 24px;
    margin-left: 155px; */
}

.content-second {
  @extend .content;
  @include sm {
    display: none;
  }
}

.content-wrapper-second {
  @extend .content-wrapper;
  background-color: #f5f4f9;

  @include sm {
    padding-top: 172px;
    padding-bottom: 30px;
    height: auto;
  }

  @media (max-width: 480px) {
    padding-top: 72px;
  }

  @media (max-width: 480px) {
    height: 284px;
  }

  @media (max-width: 320px) {
    padding-bottom: 20px;
  }
}

.content-wrapper-third {
  @extend .content-wrapper;
  background-color: #5e3db3;

  @include sm {
    display: none;
  }
}

.header {
  font-size: 90px;
  font-weight: 400;
  color: #e7e7e7;
  line-height: 105.47px;
  margin-top: 24px;

  @include md {
    margin-top: 87px;
  }

  @include sm {
    margin-top: 0;
  }

  @media (max-width: 480px) {
    font-size: 50px;
    line-height: normal;
  }
}

.title-layout {
  display: flex;
  gap: 5px;
  margin-top: 64px;
  align-items: center;

  @include md {
    margin-top: 36px;
  }

  @include sm {
    display: none;
  }
}

.title-layout-second {
  @extend .title-layout;

  @include md {
    margin-top: 30px;
  }
}

.number-layout {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.underline {
  width: 19px;
  height: 5px;
  border-radius: 2.5px;
  background: #603ebe;
}

.underline-second {
  @extend .underline;
  width: 22px;
}

.underline-white {
  @extend .underline-second;
  background: #ffffff;
}

.number {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.title {
  color: #c2c2c2;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.detail {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  margin-top: 31px;
  margin-bottom: 56px;
  max-width: 717px;

  @include md {
    font-size: 18px;
    margin-top: 21px;
    margin-bottom: 30px;
  }

  @include sm {
    display: none;
  }
}

.detail2 {
  @extend .detail;
  margin-top: 21px;
}

.detail3 {
  @extend .detail2;
  color: #ffffff;
  margin-bottom: 98px;

  @include md {
    margin-bottom: 58px;
  }
}

.players-image-container {
  position: absolute;
  height: 815px;
  width: 991px;
  left: 804px;
  z-index: 2;

  @include xxl {
    left: 41.87%;
  }

  @include xl {
    height: 568px;
    width: 691px;
    top: 33px;
  }

  @include md {
    left: 331px;
  }

  @include sm {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
  }

  @media (max-width: 480px) {
    width: 302px;
    height: 249px;
    top: 101px;
    left: 3px;
  }

  @media (max-width: 320px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.players-content-wrapper {
  display: flex;

  @include sm {
    height: 682px;
  }

  @media (max-width: 480px) {
    height: 315px;
  }
}

.players-content {
  display: flex;
  flex-direction: column;
  padding-top: 124px;
  padding-left: 322px;

  @include xxl {
    padding-left: 16.77%;
  }

  @media (max-width: 1480px) {
    padding-left: 30px;
  }

  @include xl {
    padding-top: 52px;
  }

  @media (max-width: 480px) {
    padding-top: 19px;
    padding-left: 18px;
  }
}

.header2 {
  @extend .header;
  margin-top: 0;
  margin-left: -1px;
}

.players-title-layout {
  @extend .title-layout;
  margin-top: 68px;

  @include md {
    margin-top: 34px;
  }
}

.players-title-layout-second {
  display: flex;
  gap: 5px;
  margin-top: 52px;
  align-items: center;

  @include md {
    margin-top: 51px;
  }
}

.players-title-layout-third {
  display: flex;
  gap: 5px;
  margin-top: 87px;
  align-items: center;

  @include md {
    margin-top: 44px;
  }
}

.players-detail {
  @extend .detail2;
  margin-bottom: 69px;

  @include lg {
    width: 432px;
  }

  @include md {
    margin-bottom: 10px;
  }
}

.players-content-wrapper-second {
  @extend .players-content-wrapper;
  background-color: #f5f4f9;

  @include sm {
    padding: 72px 30px 30px 30px;
    height: auto;
  }

  @media (max-width: 320px) {
    padding: 72px 18px 30px 18px;
  }
}

.players-content-second {
  @extend .players-content;
  padding-top: 0;

  @include sm {
    display: none;
  }
}

.players-detail-2 {
  @extend .detail2;
  margin-bottom: 102px;

  @include lg {
    width: 432px;
  }

  @include md {
    margin-bottom: 65px;
  }
}

.players-content-wrapper-third {
  @extend .players-content-wrapper;
  background-color: #090c35;

  @include sm {
    display: none;
  }
}

.players-detail-3 {
  @extend .detail3;
  margin-bottom: 62px;

  @include lg {
    width: 432px;
  }

  @include md {
    width: 432px;
    margin-bottom: 72px;
  }
}

.number2 {
  @extend .number;
  color: #8f6be8;
}

.line1 {
  position: absolute;
  width: 265.63px;
  height: 311.16px;
  top: 81px;
  left: 660.89px;
  z-index: -1;

  svg {
    width: 271px;
    height: 316px;
    stroke-width: 6;
  }

  @include xl {
    top: 78px;
    left: 448px;

    svg {
      stroke-width: 5;
      width: 200px;
      height: 200px;
    }
  }

  @media (max-width: 480px) {
    top: 23.32px;
    left: 196.89px;

    svg {
      width: 80px;
      height: 93px;
      stroke-width: 5;
    }
  }
}

.line2 {
  @extend .line1;
  width: 262.52px;
  height: 304.12px;
  top: 457.84px;
  left: 185.13px;

  svg {
    stroke-width: 6;
    width: 268px;
    height: 309px;
  }

  @include xl {
    width: 178.88px;
    height: 207.22px;
    top: 263.89px;
    left: 159px;

    svg {
      stroke-width: 5;
      width: 183px;
      height: 211px;
    }
  }

  @media (max-width: 480px) {
    top: 108.92px;
    left: 49px;

    svg {
      stroke-width: 5;
      width: 110px;
      height: 127px;
    }
  }
}

.plus1 {
  position: absolute;
  top: 131px;
  left: 294px;
  z-index: 1;

  @include xl {
    left: 202px;
    top: 72px;
  }

  @media (max-width: 480px) {
    left: 71px;
    top: 8px;
  }
}

.plus2 {
  @extend .plus1;
  top: 148px;
  left: 316px;

  @include xl {
    left: 224px;
    top: 89px;
  }

  @media (max-width: 480px) {
    left: 49px;
    top: -1px;
  }
}

.plus3 {
  @extend .plus1;
  top: 401px;
  left: 774px;

  @include xl {
    left: 382px;
    top: 282px;
    z-index: -1;
  }

  @media (max-width: 480px) {
    left: 266px;
    top: 149px;
  }
}

.line3 {
  display: none;
  @include md {
    display: block;
    position: absolute;
    width: 217.7px;
    height: 233.72px;
    top: 18.98px;
    left: 197.54px;
    z-index: -1;
    stroke-width: 5;
  }
  @media (max-width: 480px) {
    width: 182px;
    height: 201px;
    top: 12.91px;
    left: -1.64px;
    stroke-width: 3;
  }
}

.plus4 {
  display: none;
  @include md {
    display: block;
    position: absolute;
    top: -20px;
    left: 197.63px;
    z-index: 1;
  }

  @include sm {
    top: 50px;
    left: 60px;
  }

  @media (max-width: 480px) {
    top: 11px;
    left: -19px;
  }
}

.plus5 {
  display: none;
  @include md {
    display: block;
    position: absolute;
    top: -8px;
    left: 220.51px;
    z-index: 1;
  }

  @include sm {
    top: 60px;
    left: 90px;
  }

  @media (max-width: 480px) {
    top: 20px;
    left: 4px;
  }
}
