@import "mixins";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  // max-width: 1920px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Desktop */
// @include xxl {
.athlets-image-container {
  position: absolute;
  height: 950px;
  width: 678px;
  top: 35px;
  left: 175px;
  z-index: 2;
  @include xxl {
    left: 9%;
  }
  // @include xl {
  //   left: 9%;
  // }
}
.content-wrapper {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  /* margin-top: 24px;
    margin-left: 155px; */
}

.content-wrapper-second {
  @extend .content-wrapper;
  background-color: #f5f4f9;
}

.content-wrapper-third {
  @extend .content-wrapper;
  background-color: #5e3db3;
}

.header {
  font-size: 90px;
  font-weight: 400;
  color: #e7e7e7;
  line-height: 105.47px;
  margin-top: 24px;
}

.title-layout {
  display: flex;
  gap: 5px;
  margin-top: 64px;
  align-items: center;
}

.number-layout {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.underline {
  width: 19px;
  height: 5px;
  border-radius: 2.5px;
  background: #603ebe;
}

.underline-second {
  @extend .underline;
  width: 22px;
}

.underline-white {
  @extend .underline-second;
  background: #ffffff;
}

.number {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.title {
  color: #c2c2c2;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.detail {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  margin-top: 31px;
  margin-bottom: 56px;
  max-width: 717px;
}
.detail2 {
  @extend .detail;
  margin-top: 21px;
}

.detail3 {
  @extend .detail2;
  color: #ffffff;
  margin-bottom: 98px;
}

.players-image-container {
  position: absolute;
  height: 815px;
  width: 991px;
  left: 804px;
  z-index: 2;

  @include xxl {
    left: 41.87%;
  }
}
.players-content-wrapper {
  display: flex;
}

.players-content {
  display: flex;
  flex-direction: column;
  margin-top: 124px;
  margin-left: 322px;
}

.header2 {
  @extend .header;
  margin-top: 0;
  margin-left: -1px;
}

.players-title-layout {
  @extend .title-layout;
  margin-top: 68px;
}

.players-detail {
  @extend .detail2;
  margin-bottom: 69px;
}

.players-content-wrapper-second {
  @extend .players-content-wrapper;
  background-color: #f5f4f9;
}

.players-content-second {
  @extend .players-content;
  margin-top: 0;
}

.players-detail-2 {
  @extend .detail2;
  margin-bottom: 102px;
}

.players-content-wrapper-third {
  @extend .players-content-wrapper;
  background-color: #090c35;
}

.players-detail-3 {
  @extend .detail3;
  margin-bottom: 62px;
}

.number2 {
  @extend .number;
  color: #8f6be8;
}

.line1 {
  position: absolute;
  width: 265.63px;
  height: 311.16px;
  top: 81px;
  left: 1464.89px;
  z-index: 1;
}

.line2 {
  @extend .line1;
  width: 262.52px;
  height: 304.12px;
  top: 457.84px;
  left: 989.13px;
}

.plus1 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 131px;
  left: 1098px;
  z-index: 1;
}

.plus2 {
  @extend .plus1;
  width: 15px;
  height: 15px;
  top: 148px;
  left: 1120px;
}

.plus3 {
  @extend .plus1;
  width: 15px;
  height: 15px;
  top: 401px;
  left: 1578px;
}
// }

// @include xl {
//   .athlets-image-container {
//     position: absolute;
//     height: 950px;
//     width: 678px;
//     top: 35px;
//     left: 175px;
//     z-index: 2;
//   }
//   .players-content {
//     display: flex;
//     flex-direction: column;
//     margin-top: 124px;
//     margin-left: 27%;
//   }
// }

/* Mobile */
// @media (max-width: 700px) {
// }

// /* Tablet and Smaller Desktop */
// @media (min-width: 701px) and (max-width: 1120px) {
//   .grid {
//     grid-template-columns: repeat(2, 50%);
//   }
// }

// @media (prefers-color-scheme: dark) {
// }
